<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.radixdlt.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".apps.wallet.RadixWalletApplication"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher_beta"
        android:roundIcon="@mipmap/ic_launcher_beta_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.radixdlt.android.apps.wallet.ui.activity.NewWalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--                &lt;!&ndash; for Phoenix &ndash;&gt;-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.radixdlt.com"
                    android:pathPrefix="/dapp/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.radixdlt.com"
                    android:pathPrefix="/dapp/"
                    android:scheme="http" />
            </intent-filter>
        </activity>


        <activity android:name=".apps.wallet.ui.activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- for Phoenix -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.radixdlt.android.apps.wallet.ui.activity.EnterPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.radixdlt.android.apps.wallet.ui.activity.EnterMnemonicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.radixdlt.android.apps.wallet.ui.activity.NewPaperKeyWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.radixdlt.android.apps.wallet.ui.activity.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.radixdlt.android.apps.wallet.ui.activity.SendRadixActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.radixdlt.android.apps.wallet.ui.activity.PaymentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.radixdlt.android.apps.wallet.ui.activity.ReceiveRadixInvoiceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.radixdlt.android.apps.wallet.ui.activity.ConversationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />

        <activity
            android:name="com.radixdlt.android.apps.wallet.ui.activity.BarcodeCaptureActivity"
            android:label="@string/barcode_capture_activity_title"
            android:parentActivityName="com.radixdlt.android.apps.wallet.ui.activity.SendRadixActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.radixdlt.android.apps.wallet.ui.activity.TransactionDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.radixdlt.android.apps.wallet.ui.activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".apps.wallet.ui.activity.WebViewActivity"
            android:parentActivityName="com.radixdlt.android.apps.wallet.ui.activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
